<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Google font Reddit Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="container">
      <form class="form">
        <h1>Welcome</h1>
        <div class="input-box">
          <input
            name="username"
            type="text"
            id="username"
            placeholder="Username"
            aria-label="Enter your username"
          />
        </div>

        <div class="input-box">
          <input
            name="password"
            type="password"
            id="password"
            placeholder="Password"
            aria-label="Enter your Password"
          />
        </div>

        <div class="justify-center">
          <button type="submit">Sign In</button>
        </div>

        <div>
          <hr />
        </div>
        <p class="small-text">
          Don't have an account? <a href="/register">Register</a>
        </p>
        <p class="small-text">Go back to <a href="/">Home</a></p>
      </form>
    </div>
  </body>
</html>
