<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JMK</title>
    <!-- Google font Reddit Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/members-add.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 class="title">JMK</h1>
        <div class="flex">
          <img id="logout" src="/images/logout.svg" alt="Logout" />
          <a class="btn" href="/logout">Logout</a>
        </div>
      </nav>
    </header>
    <main>
      <h2>Fill Out The Customers Information</h2>
      <form action="/members/add" method="post">
        <input
          type="text"
          placeholder="Company Name"
          name="name"
          id="name"
          class="input"
        />

        <input
          type="text"
          placeholder="NickName"
          name="nickname"
          id="nickname"
          class="input"
        />

        <input
          type="text"
          placeholder="Address"
          name="address"
          id="address"
          class="input"
        />

        <input
          type="text"
          placeholder="Buyer's GST"
          name="gst"
          id="gst"
          class="gst"
        />
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
      </form>
    </main>
    <a class="back" href="/members"> Go Back</a>
  </body>
</html>
