<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JMK</title>
    <!-- Google font Reddit Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 class="title">JMK</h1>
        <div class="flex">
          <img id="logout" src="/images/logout.svg" alt="Logout" />
          <a class="btn" href="/logout">Logout</a>
        </div>
      </nav>
    </header>
    <main>
      <section id="member" class="card">
        <div class="card-inner">
          <div>
            <h3>0</h3>
            <h2>Customers</h2>
          </div>
          <div>
            <img
              class="add-member-img"
              src="/images/add-member.svg"
              alt="Add Member"
            />
          </div>
        </div>
        <div class="dark"><a href="#">More Info</a>➡️</div>
      </section>

      <section id="invoice" class="card green">
        <div class="card-inner">
          <div>
            <h2>Make Invoice</h2>
          </div>
          <div>
            <img
              class="add-invoice-img"
              src="/images/alternate-file.svg"
              alt="Add Invoice"
            />
          </div>
        </div>
        <div class="dark-green"><a href="#">Make Invoice</a>➡️</div>
      </section>
    </main>
  </body>
</html>
